  /* li{
    display: block;
    float: left;

     width: 60px;
    height: 30px;
    padding: left 20px right 20px; 
    color: white;
    text-align: center;
    background-color: gray;
    border-right:1px solid black; 
}   */

ul li{
    display: inline-block;
    display: inline;
    padding: 5px;
}